#cabecera{
    /*border: solid rgb(213, 208, 208) 5px ;*/
    
    align-content: center ;
    margin-left: 0px;
    margin-top: 0px;
    position: fixed;
    padding: 0px;
    margin-right: 0px;
    width: 80%;

}
header img{
    
    margin-left: 17%;
}
nav{
    background-color: rgb(228, 226, 226);
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    display: inline-block;
    width:99%;
    font-size: 14px;  
    box-shadow:rgb(104, 104, 104) 2px 2px 15px inset; 
    border-radius: 8px;
    
    text-align: center; 
    
   
   

}
il{
    padding: 1px 20px 1px;
}

nav:hover{
    background-color: rgb(140, 177, 165);
    box-shadow:rgb(104, 104, 104) 2px 2px 30px inset;
    
}
nav il:hover{
   
    background-color:rgb(171, 218, 185);
    padding:20px;
    border-left: 1px;
    transition: 0.2s;   

}

il:hover{
    font-size: 110%;
    box-shadow:2px;
    color: rgb(190, 17, 17);
    
}
.caja{

    
    border: 1px solid #d9d3d3;*/
    align-items: center;
    margin:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(172, 171, 171);
}

.uno:hover  {
    box-shadow: 0px 1px 10px black;
    
    font-size: 102%;
    
}

.dos:hover  {
    box-shadow: 0px 1px 10px black;
    
    font-size: 102%;
}
.tres:hover  {
    box-shadow: 0px 1px 10px black;
    
    font-size: 102%;
}
.cuatro{
    /*border:1px solid black;*/
    grid-column: 1/4;
    text-align: center;
    padding: 25px 2px 10px;
    border-radius: 0;
    height: 40px;
    background-color: rgb(228, 226, 226);
    
}

body{
    margin-top: 0;
    border: 1px dashed white;
    width: 80%;
    margin: 0 auto;
    
}
#contenedor{
    display:grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 100px ;
    margin-top: 200px;
    /*border: 2px solid black;*/
    
    width: 100%;
    
    
}
#contenedor{
    background: -webkit-linear-gradient(top,white 20%,rgb(232, 227, 251) 30%,rgb(232, 252, 237)60% ,white)
}




.cuatro p {
    text-align: center;
    padding: 0px 2px 0px;
    display: inline;
    
}

#pescado{
    margin: 0;
    
    width: 100%;
    height: 300px;
}
#camarones{
    margin: 0;
    margin-top: 25px;
    width: 100%;
    height: 300px;

}
#pulpo{
    margin: 0;
    
    width: 100%;
    height: 300px;

}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;  
}